.items-list {
  display:flex;
  flex-direction: row;
}
.banner, .img-responsive {
  width: 100%;
  height: auto;
}

.content-container {
  margin: 0 30px;
  margin-top: 120px;
}

.section-title {
  margin-top:0;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
}

.cart-box {
  background: #FDE6DD;
  border-radius: 24px;
  padding: 40px 30px;
}

.section-title-box {
  display:flex;
  justify-content: space-between;
  text-align:right;
}

.total-price-usd {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  color: #E55315;
}

.total-price-eth {
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  opacity: 0.7;
}

.clear-all-button {
  display:flex;
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
}

.table {
  width: 100%;
}
.flex-row {
  flex: 1;
}

.clear-all-button img {
  margin-left:10px;
}

.cart-row-header {
  text-align:left;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
}

.cart-product-cell {
  display: flex;
  flex-direction: row;
  gap:20px
}
.cart-product-image > img {
  border: 1px solid rgba(229, 83, 21, 0.3);
  border-radius: 8px;
}

.cart-product-size, .cart-product-price-eth, .sub-text {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  opacity: 0.7;
}

.cart-product-price {
  text-align:right;
}

th, td {
  padding: 15px 10px;
}

.cart-table-actions-column {
  width:36px;
}

.break-line {
  opacity: 0.3;
  border: 1px solid #E55315;
  transform: rotate(180deg);
}

.try-your-luck-button {
  justify-content: center;
  align-items: center;
  padding: 16px 19px;

  background: #E55315;
  border-radius: 12px;

  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;

  color: #FFFFFF;
}

.cell-to-right {
  text-align: right;
}

.buy-buttons {
  display: flex;
  flex: auto;
  gap: 30px;
  
}

.buy-buttons > button {
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: 24px;

  height: 140px;
  /* font */
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
}

.buy-metamask {
  background: #1C1C1C;
  color: #FFFFFF;
}

.buy-other {
    background: #FFF9F7;
    color: #1C1C1C;
}