.empty-cart-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align:center;
}

.grey-square {
  margin-bottom:15px;
}

.empty-cart-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px
}
